
table{
    margin-right: auto;
    margin-left: auto;
}
table td{
    width: min-content;
    padding: 10px;
}
.btnWrapper{
    margin-top: 30px;;
    width: 100%;
    display: flex;
    justify-content: center;
}