footer{

    background-color: #232934;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .col{
    
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 10px;
}
footer .col a{
    color: white !important;
}